*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
    font-weight: 500;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
    font-weight: 900;
}

:root{
--primary-color: #2B4365;
--secondary-color: #FCDABF;
--dark-color: #000;
--light-color: #fff;
--gray-color: #808080;
}
body{
    font-family: "ExpoArabic",sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  border-bottom:1px solid var(--primary-color);
}
nav a{
    padding-left: 10px;
    color: var(--gray-color);

}

nav button{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    font-family: "ExpoArabic",sans-serif;
}
.container{
    padding:30px;
}
header{
    height: 500px;
    display: flex;
    flex-direction: column;
 justify-content: center;
     gap: 20px;
     background: url(../images/intro/intro.png) center /cover no-repeat  ;
     color: var(--light-color);
}
header #smallerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
        gap: 5px;
}
header #smallerContent img{
    width: 30px;
}