*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
    font-weight: 500;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family:"ExpoArabic" ;
    src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
    font-weight: 900;
}

:root{
--primary-color: #2B4365;
--secondary-color: #FCDABF;
--dark-color: #000;
--light-color: #fff;
--gray-color: #808080;
}
body{
    font-family: "ExpoArabic",sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
justify-content: center;}
nav .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 5px 20px;
  border-bottom:1px solid var(--primary-color);

}
nav a{
    padding-left: 10px;
    color: var(--gray-color);

}
.button{
     background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    font-family: "ExpoArabic",sans-serif;
}
nav button{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    font-family: "ExpoArabic",sans-serif;
}
.section{
    /* padding:30px; */
    display: flex;
    align-items: center;
 flex-direction: column;
}
.container{
    padding:60px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;

justify-content: center; 
   width: 100%;
 max-width: 1400px;
}
.section-title{  
      position: relative;
}
.section-title h1
{ 
    margin: 10px 0;
}
.section-title p{
   color: var(--gray-color);
    font-size: 24px;
}
#decoration{
  position: absolute;
  right: -30px;
}
header{

  height: 500px;
    justify-content: center;
     gap: 20px;
     background: url(../images/intro/intro.png) center /cover no-repeat  ;
     color: var(--light-color);
}
header .container{
    position: relative;
        padding:50px;


   
}
header h1,h2 ,#smallerContent{
    margin-top: 10px;
}
header #smallerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: 5px;
}
header #smallerContent img{
    width: 30px;
}

#features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: 150px;
    background-color: var(--primary-color);
    padding: 0 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 40px;
    position: absolute;
    top: -15px;
}
section .content{
    display: flex;
    gap: 10px;
    align-items: flex-start;

}
.features-section .container{
    align-items: center;
    height: 400px;
    position: relative;
   
}
section .features-text{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
    color: var(--secondary-color);

    
}
.features-section #title{
        color: var(--secondary-color);

}

 .features-section #mainContent{
    width: 100%;
    position: relative;
display: flex;
justify-content: space-between;
  }
  .features-section #mainContent img{
    position: absolute;
  }
  .features-section #text {
    display: flex;
    flex-direction: column;
    padding-right: 15px; ;
  }
.features-section #text h3{
font-size: 30px;
}
  .features-section #mainContent p{
    width: 500px;
    font-weight: 500;
    font-size: 24px;
  }

#servicesSection{
    background: url(../images/services/services\ 8.png) center /cover no-repeat;
    
    color: var(--light-color);
}
 #servicesSection .container{

    padding-top: 20px;
    align-items: center;


 }
#servicesSection .container p{
    width: 750px;
 font-weight: 500;
 text-align: center;

    font-size: 24px;
}
#servicesSection .container h3{
    margin: 20px;
    font-size: 30px;
     text-align: center;



}
#servicesSection .container #text{
    height: 400px;
}
#servicesSection .container img{
    margin-bottom: 10px;
}
 #servicesCards{
   margin-top: -150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
 #servicesCards .card{

   width: 400px;
   border: solid var(--gray-color);
   /* background-color: var(--secondary-color); */
   color: var(--dark-color);
}
/* .card :hover{
   transform: rotate(20deg);

} */

 #servicesCards .card h4{
    font-size: 20px;
    margin: 10px 0px;
    
}#servicesCards .card img{
width: 100%;
}
#servicesCards .card p{
    color: var(--gray-color);
    font-size: 20px;
}
#servicesCards .card .content{
    display: flex;
    flex-direction: column;
   padding:0 10px 30px 10px ;

}

#solutions{
    position: relative;
}

#solutions .container{
    position: relative;
      padding-top:50px;
}

#solutions  #solutionsCards{
    display: flex;
    flex-direction:row ;
    flex-wrap:wrap ;
justify-content: center;
padding-top: 30px;
}
#solutions  #solutionsCards .card{
width: 300px;
padding: 10px;

    
}
#solutions  #solutionsCards .card h3{
margin: 10px 0px;
}  

#solutions  #mainContent{
    display: flex;
    align-items: center;
    gap: 30px;
    padding:100px  0px 50px 0px ;
}
#solutions  #mainContent img{
    width: 600px;
}
#solutions  #mainContent h3{
    font-size: 30px;
    margin: 20px 0;

}
#solutions  #mainContent p{
    font-size: 24px;
}
#solutions  #mainContent #text{
    position: relative;

}

#solutions  #mainContent #line {
width: 10px;
position: absolute;
right: -20px;
}
/* #solutions  #mainContent */

#testimonials .container{
    position: relative;
}
#testimonials #mainContent{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

    margin:50px 0;
}  
/* #testimonials #mainContent #image{
    display: flex;
} */
#testimonials #mainContent #biggerImage{
    width: 400px;
    padding-right: 20px;
 
}
#testimonials #mainContent #textContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#testimonials #mainContent #textContent h3{
    font-size: 30px;
     color: var(--primary-color);
}
#testimonials #mainContent #textContent h4{
    font-size: 18px;
    margin :20px 0;
   
}
#testimonials #mainContent #textContent p{
    width: 500px;
    font-size: 24px;
    color: var(--gray-color);

}
 #mainContent #textContent #innerImage{
    display: flex;
    gap: 20px;
 }
 #qestionsContainer{
     margin-top:50px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}  
 #qestionsContainer .question {
    width:400px;
    position: relative;
}
#qestionsContainer .question p{
    color: var(--gray-color);
}
#qestionsContainer .question h3 {
 margin :20px 0;}
#qestionsContainer .question img{
    width:15px;
    position: absolute;
    right: -20px;
    top: 19px;
}

/* form */

form table{
text-align: right;  
} 
form{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  
}
.input-form{

  position: relative;
}
.main-input-form{
  display: flex;
  gap: 20px;
}
form textarea{
  width: 640px;
  border:1px solid var(--gray-color) ;  padding:20px;
 font-family: "ExpoArabic",sans-serif;
  resize: none;
}
#textarea img{
   top: calc(20% - 12.5px );
}
form input{
  /* width: 300px; */
  height: 50px;
  border:1px solid var(--gray-color) ;
  padding: 0px 20px;
font-family: "ExpoArabic",sans-serif;
}

.input-form{
    display: flex;
    flex-direction: column;
}
.input-form img{
  height:25px ;
  position: absolute;
  top: calc(50% - 12.5px );
  right: 10px; 
}
#formBtn{
  width: 400px;
  align-self: flex-end;
 
  height: 40px;
}
#mainformContainer{
    margin-top: 50px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 gap: 50px;

 
}

#contactForm{
    width: 500px;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
footer{
    background-color: var(--primary-color);
    color: var(--light-color);
}

footer #mainfootercontent h4{
    margin: 10px 0;
}
footer #mainfootercontent {
    width: 500px;
}
footer #pages{
   display: flex;
   flex-direction: column; 
   gap: 10px;
}
footer #pages a{
   color: var(--light-color);
font-size: small;
} 
footer #contact img{
position: absolute;
right: -30px;
}

footer #phone{
position: relative;
width: 100px;
}

footer  #email{
position: relative;
margin-top: 20px;

} 
footer .contactContainer{
    padding: 10px 0;
   
    align-items: center;

border-top: var(--light-color) solid 1px;
}
 footer #contactSection img{
    margin-right: 10px;
    
 }
 footer #contactSection{
    display: flex;
    gap: 20px;
 }